<%-include('../cabecalho.ejs')%>
<h1>Editar Aluno</h1>
<div style="margin-bottom: 24px;">
    <a href="/aluno/lst" class="btn">Listar</a>
</div>
    <form method="post">
        <label>ID:</label>
            <input type="text" name="id" value="<%= Aluno.id %>" disabled><br>
        <label>Digite o novo nome:</label>
            <input type="text" name="nome" value="<%= Aluno.nome %>"><br> 
        <label>Digite a nova matrícula:</label>
            <input type="text" name="matricula" value="<%= Aluno.matricula %>"><br>
        <button type="submit" class="btn submit">Submeter edição</button>
    </form>

<%-include('../rodape.ejs')%>