<%-include('../cabecalho.ejs')%>
    <h1>Aluno</h1>
    <a href="/aluno/add" class="btn">Adicionar aluno</a>
    <table class="aluno-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matrícula</th>
                <th colspan="2" style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
        <!--aqui vamos fazer o for-->
        <%for (const{nome, id, matricula} of Alunos) {%>
        <tr>
            <td><%=nome%></td>
            <td><%=matricula%></td>
            <td><a href="/aluno/edt/<%=id%>" class="btn edit"><i class="fa-solid fa-pen">‌</i>&nbsp;Editar aluno</a></td>
            <td><a href="/aluno/del/<%=id%>" class="btn delete" onclick="return confirm('Tem certeza que deseja excluir este aluno?')"><i class="fa-solid fa-box-archive">‌</i>&nbsp;Excluir aluno</a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
    
<%-include('../rodape.ejs')%>