<%-include('../cabecalho.ejs')%>
    <h1>Editar Prato</h1>
    <div style="margin-bottom: 24px;">
        <a href="/Restaurante/lst" class="btn">Listar</a>
    </div>
    <div>
        <form method="post" class="form-visual">
            <label>ID:</label>
            <input type="text" name="id" value="<%= Prato.id %>" disabled><br>
            <label>Digite o novo nome:</label>
            <input type="text" name="nome" value="<%= Prato.nome %>"><br>
            <label>Selecione a nova categoria:</label>
            <select name="categoria">
                <option value="entrada" <%=Prato.categoria==='entrada' ? 'selected' : '' %>>Entrada</option>
                <option value="pratoPrincipal" <%=Prato.categoria==='pratoPrincipal' ? 'selected' : '' %>>Prato
                    principal</option>
                <option value="sobremesa" <%=Prato.categoria==='sobremesa' ? 'selected' : '' %>>Sobremesa</option>
            </select><br>
            <label>Novo preço:</label>
            <input type="number" name="preco" value="<%= Prato.preco %>"><br>
            <label>Digite a nova descricao:</label>
            <input type="text" name="descricao" value="<%= Prato.descricao %>"><br>
            <label>Novo Tempo de preparo:</label>
            <input type="number" name="tempoDePreparo" value="<%= Prato.tempoDePreparo %>"><br>
            <label>Nova Disponibilidade:</label>
            <select name="disponibilidade">
                <option value="true" <%=Prato.disponivel ? 'selected' : '' %>>Disponivel</option>
                <option value="false" <%=Prato.disponivel ? '' : 'selected' %>>Não disponível</option>
            </select><br>
            <label>Digite os novos ingredientes:</label>
            <input type="text" name="ingredientes" value="<%= Prato.ingredientes %>"><br>

            <button type="submit" class="btn submit">Submeter edição</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>