<%-include('../cabecalho.ejs')%>
<h1>Editar Curso</h1>
<div style="margin-bottom: 24px;">
    <a href="/curso/lst" class="btn">Listar</a>
</div>
<div>
    <form method="post" class="form-visual">
        <label>ID:</label>
            <input type="text" name="id" value="<%= Curso.id %>" disabled><br>
        <label>Digite o novo nome:</label>
            <input type="text" name="nome" value="<%= Curso.nome %>"><br> 
        <label>Forneça a nova duração (em semestre):</label>
            <input type="number" name="duracao" value="<%= Curso.duracao %>"><br>
        <label>Digite a nova área:</label>
            <input type="text" name="area" value="<%= Curso.area %>"><br>
        <label>Selecione o novo nível:</label>
    <select name="nivel">
        <option value="Técnico" <%= Curso.nivel === 'Técnico' ? 'selected' : '' %>>Técnico</option>
        <option value="Tecnólogo" <%= Curso.nivel === 'Tecnólogo' ? 'selected' : '' %>>Tecnólogo</option>
        <option value="Bacharel" <%= Curso.nivel === 'Bacharel' ? 'selected' : '' %>>Bacharel</option>
    </select><br>
        <label>Forneça o novo ano de fundação (em anos):</label>
            <input type="number" name="anoFundacao" value="<%= Curso.anoFundacao %>"><br>
            <button type="submit" class="btn submit">Submeter edição</button>
    </form>
</div>
    <%-include('../rodape.ejs')%>